@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.error {
&__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 480px;
  /* padding-right: 800px; */
  padding-top: 150px;
}
&__title {
  font-size: 50px;
  font-family: $font-family;
  font-weight: 500;
  color: #0b132a;
  line-height: 70px;
  margin: 0;
  margin-bottom: 20px;
}
&__icon {
  width: 200px;
  height: 200px;
}
&__description {
  color: #4f5665;
  font-size: 16px;
  font-family: $font-family;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
}
&__link {
  background-color: #f53838;
  color: white;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: $font-family;
  font-weight: 500;
  cursor: pointer;
  border: none;
  box-shadow: 0px 35px 48.3px rgba(245, 56, 56, 0);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
}
&__link:hover {
  box-shadow: 0px 35px 48.3px rgba(245, 56, 56, 0.35);
}
}
